{% extends '@Main/layout.twig' %}
{% block content %}
    <h1>Banner Details</h1>
    <ul>
        <li>{{ banner.title }}</li>
        <li>{{ banner.slug }}</li>
        <li>{{ banner.details }}</li>
    </ul>
{% endblock %}