<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Module</title>
    <link rel="stylesheet" href="{{ base_url() }}/public/assets/css/style.css">
</head>
<body>

{% include '@Main/includes/menu.twig' %}

<div class="main">
    {% block content %}{% endblock %}
</div>

</body>
</html>